.donnees-une {
    margin-top: 150px;
    padding: 80px;
    width: 100%;
    text-align:center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(60px, auto);
    white-space: pre-wrap;
}

.grid-content {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
}


.one {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.two {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five {
    grid-column: 1;
    grid-row: 3 / 10;
}

.six {
    grid-column: 2 / 4;
    grid-row: 3 / 9;
}

.seven {
    grid-column: 1;
    grid-row: 10 / 14;
}

.eight {
    grid-column: 2;
    grid-row: 9 / 14;
}

.nine {
    grid-column: 3;
    grid-row: 9 / 14;
}

#map {
    width: 100%;
    height: 100%;
}