.img-logo {
    width: 50%;
    padding: 10px;
    vertical-align: bottom;
}

.logos {
    padding: 100px 40px 100px 40px;
    width: 350px;
    background-color: #000;
}

.site {
    width: 350px;
    background-color: #000;
    color: #fff;
}