.btn-outline-primary {
    color: #a03189;
    border: none;
    box-shadow: 1px 1px 3px 1px #9E9E9E;
}

.btn-outline-primary:hover {
    color: #a03189;
    background-color: #dda0dd;
    border: none;
}

.btn-outline-secondary {
    color: #fff;
    border: none;
    background-color: #a03189;
    box-shadow: 0px 2px 0px #9E9E9E;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #a03189;
}

.navbar-span {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar-dropdown .btn-secondary{
    color: #808080;
    background-color: #fff;
    border: none;
}

.navbar-dropdown .btn-secondary:hover{
    color: #fff;
    background-color: #a03189;
    border: none;
}

.navbar-dropdown .btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #a03189;
    border: none;
}

.container {
    display: flex;
}

.div-med-search {
    position: absolute;
    padding: 60px;
    width: 760px;
    top: 200px;
    left: 30%;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    text-align:center;
}

.div-med-search .form-control{
    margin: auto;
    margin-top: 2rem;
    width: 60%;
    background-color: #f5f5f5;
    border: none;
}

.div-donnees-une {
    position: absolute;
    padding: 80px;
    width: 100%;
    top: 753px;
    background: #fff;
    text-align:center;
}

.span-donnees-une {
    margin-top: 30px;
    padding: 20px;
    font-size: 15px;
    width: 25%;
    display: inline-block;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
    justify-content: space-between;
    border-radius: 3px;
}

.div-donnees-une-2 {
    position: absolute;
    padding: 80px;
    width: 100%;
    top: 753px;
    text-align:center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(60px, auto);
    white-space: pre-wrap;
}

.grid-content {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
}


.one {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}
.two {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.five {
    grid-column: 1;
    grid-row: 3 / 10;
}
.six {
    grid-column: 2 / 4;
    grid-row: 3 / 9;
}
.seven {
    grid-column: 1;
    grid-row: 10 / 14;
}
.eight {
    grid-column: 2;
    grid-row: 9 / 14;
}
.nine {
    grid-column: 3;
    grid-row: 9 / 14;
}

#map {
    width: 100%;
    height: 100%;
}