.donnees-une-container {
    position: relative;
    padding-top: 300px;
    padding-bottom: 380px;
    background-color: #afca0b;

}

.donnees-une-content {
    z-index:1;
    display:flex;
    flex-direction:column;
}

.donnees-une-content > * {
    z-index: 1;
}

.donnees-une-container .before {
    position: absolute;
    background: #fbfcfd;
    width: 100%;
    top: 0;
}

.donnees-une-container .before > div{
    background: url("./BG_green1w.svg");
    background-repeat: no-repeat;
    height: 600px;
    width: 2000px;
    margin: auto;
    position: relative;
    right: 270px;
}

.donnees-une-container .after {
    position: absolute;
    background: #fbfcfd;
    width: 100%;
    bottom: 0;
}

.donnees-une-container .after > div {
    background: no-repeat url("./BG_green2.svg");
    background-repeat-x: repeat;
    height: 500px;
    width: 100%;
    margin: auto;
    position: relative;
    background-position: -200px 0;
}

.donnees-une {
    padding: 50px 80px 0px 80px;
    text-align:center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(60px, auto);
    white-space: pre-wrap;
}

.analyse-thematique {
    color: #a03189;
}

.grid-content {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    background-color: #fff;
}

.two {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five {
    grid-column: 1;
    grid-row: 2 / 9;
}

.six {
    grid-column: 2 / 4;
    grid-row: 2 / 8;
}

.seven {
    grid-column: 1;
    grid-row: 9 / 12;
}

.eight {
    grid-column: 2;
    grid-row: 8 / 12;
}

.nine {
    grid-column: 3;
    grid-row: 8 / 12;
}

#map {
    width: 100%;
    height: 100%;
}