.main-search-container {
    margin-top: 2rem;
    padding-top: 160px;
    padding-bottom: 100px;
    background: no-repeat center url("./BG_violet.svg");
}

.main-search {
    width: fit-content;
    padding: 60px 200px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    text-align:center;
    align-items: center;
    margin: auto;
}

.main-search .form-control{
    margin: auto;
    margin-top: 2rem;
    background-color: #f5f5f5;
    border: none;
    padding: 1.5rem .75rem;
    border-radius: .1rem;
}

.search-bar {
    width: 450px;
}

.main-dropdown {
    text-align: left;
}

.main-dropdown .Select-placeholder{
    padding-left: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
    background-color: #E8E8E8;
}

.main-dropdown .Select-control{
    display: list-item;
    border: none;
    border-radius: 2px;
}