.navbar-layout {
    height: 88px;
    width: 100%;
    border-right: none;
    border-left: none;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    background-color: #fff;
}

.navbar-span {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar-menu {
    align-items: center;
    display: flex;
}

.vl {
  border-left: 1px solid;
  border-color: #808080;
  height: 40px;
}
