html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.side-menu-container {
  padding-left: 270px;
}

nav.side-menu {
  height: 100vh;
  position: fixed;
  left: 0px;
  z-index: 5;
  outline: none;
  width: 270px;
  text-transform: uppercase;
  align-self: flex-start;
  overflow: hidden;
}

nav.side-menu ul {
  list-style-type: none;
  color: #9e9e9e;
  letter-spacing: 0.25px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  box-shadow: -1px 0px 0px 0px #e0e0e0 inset;
}

nav.side-menu ul a {
  color: #9e9e9e;
  letter-spacing: 0.25px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

nav.side-menu li {
  padding: 21px 16px 21px 0px;
}

.side-menu .selected {
  box-shadow: -3px 0px 0px 0px #a03189 inset;
}

.side-menu .selected a {
  color: #000000;
}

.nav-title {
    padding-top: 120px;
    margin-top: -120px;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }
  .side-menu-container {
    padding-left: 0px;
  }
}
